body, html { font-size: 1.0em; }
h1,h2,h3,h4,h5,h6 { margin: 0; }
/*
body {font-family: "Bellefair", sans-serif; }
h1,h3,h5 {font-family: "Stint Ultra Condensed", sans-serif; line-height: 1.2; }
h2,h4,h6 {font-family: "Jomhuria", sans-serif; line-height: 0.9; }
*/
h1,.h1 { font-size: 3.5em; font-weight: 500; }
h2,.h2 { font-size: 2.0em; font-weight: 500; }
h3,.h3 { font-size: 1.5em; font-weight: 500; }
h4,.h4 { font-size: 1.3em; font-weight: 500; }
h5,.h5 { font-size: 1.2em; font-weight: 500; }
h6,.h6 { font-size: 1.1em; font-weight: 500; }
/*
dt { display: inline; margin: 0; padding: 0; font-family: "PT Serif", sans-serif; font-size: 0.9em; }
label { font-family: "PT Serif", sans-serif; font-size: 0.9em; }
*/
dd { display: inline; margin: 0; padding: 0; }
i { font-weight: normal; }
body {  }
.menu {display: none; }
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
}
.font-style-italic { font-style: italic; }
.grow-5, .grow-10, .grow-20, .grow-30, .grow-40, .grow-50, .grow-100, .grow-200 > svg {
	-webkit-transition: 0.2s ease-in-out; -moz-transition: 0.2s ease-in-out; -o-transition: 0.2s ease-in-out; -ms-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out;
	display: inline-block;
}
.grow-5:hover { -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -o-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05); }
.grow-10:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
.grow-20:hover { -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }
.grow-30:hover { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -o-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3); }
.grow-40:hover { -webkit-transform: scale(1.4); -moz-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4); transform: scale(1.4); }
.grow-50:hover { -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); }
.grow-100:hover { -webkit-transform: scale(2.0); -moz-transform: scale(1.5); -o-transform: scale(2.0); -ms-transform: scale(2.0); transform: scale(2.0); }
.grow-200:hover { -webkit-transform: scale(4.0); -moz-transform: scale(4.0); -o-transform: scale(4.0); -ms-transform: scale(4.0); transform: scale(4.0); }
input[type=text], input[type=radio], input[type=checkbox], textarea {
	-webkit-transition: all 0.50s ease-in;
	-moz-transition: all 0.50s ease-in;
	-ms-transition: all 0.50s ease-in;
	-o-transition: all 0.50s ease-in;
	outline: none;
}
.glowSuccess {
	box-shadow: 0 0 5px 3px rgba(0, 200, 30, 1);
	border: 1px solid rgba(0, 200, 30, 1);
}
.glowError {
	box-shadow: 0 0 5px 3px rgba(215, 0, 0, 1);
	border: 1px solid rgba(215, 0, 0, 1);
}
.site-section-top {
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}
.site-section-above {  background-repeat: repeat; background-color: white; }
.site-section-primary {  min-height: 600px; }
.site-section-contact {
	text-align: center;
	background-image: linear-gradient(30deg, #000000, #000f3b 20%, #160029);
}
.site-value-delete-button {
	display: flex;
	align-items: center;
}
.site-small-svg {
	width: 25px;
	height: 25px;
}
.site-value-delete-svg {
	width: 35px;
	height: 35px;
}
.site-svg {
	width: 40px;
	height: 40px;
}
.display-flex-align-items-center {
	display: flex;
	align-items: center;
}
.w3-check {
	border-color: black;
}
textarea {
	height: 200px;
}
.blog-publication-social-div { margin-top: 15px; }
.blog-publication-social-img { max-width: 50px; }
.blog-publication-social-cell { height: 137px; }
.site-card {
	min-height: 300px;
	display: block;
	text-decoration: none;
}
.site-card:hover {
	color: #199a19;
}
.site-card-img-div {
	max-height: 200px;
	overflow: hidden;
	display: block;
}
.site-card-img {
	display: block;
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
	/* lt ie8 */
	-ms-interpolation-mode: bicubic;
}
.site-card-title {
	font-weight: bold;
	font-size: 1.2em;
	display: block;
}
.mySlides {
	display:none;
	width: 100%;
}
.site-right-bar {
	width: 25%;
	right: 0;
	float: right;
	text-align: right;
}
.w3-bar .site-bar-item {
	padding: 8px 8px;
}
.site-slideshow-div1 {
	max-width: 500px;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}
.site-slideshow-div2 {
	max-width: 500px;
	margin: 0 auto;
	overflow: hidden;
}
.site-slideshow-img1 {
	width: 100%;
}
.site-slideshow-img2 {
	width: 100%;
	cursor: pointer;
}
.site-slideshow-img2-div {
	height: 100px;
	overflow: hidden;
}
.site-a-attribuer {
	display: inline-block; min-width: 6em; min-height: 1em;
}
.site-menu-icon {
	padding-right: 5px;
	width: 1.4em;
	text-align: center;
}
.svg-inline--fa {
	margin: 0 3px;
}
.site-padding-0{padding:0!important}
.site-padding-table{padding:0 8px!important}
/*
.site-highlight {
	font-family: arial,sans-serif;
	font-size: small;
}
*/
em {
	font-weight: bold;
	font-style: normal;
}
pre, .site-cmd-complet {
	font-size: 0.8em;
	/*font-family: "Anonymous Pro", monospace; */
	font-weight: normal;
	background-color: black;
	border: 2px white solid;
	padding: 5px;
	display: block;
	color: white;
	white-space: pre-wrap;
}
.white-space-pre {
	white-space: pre;
}
.white-space-pre-wrap {
	white-space: pre-wrap;
}
.white-space-nowrap {
	white-space: nowrap;
}
.font-weight-bold {
	font-weight: bold;
}
.text-transform-uppercase {
	text-transform: uppercase;
}
.text-transform-lowercase {
	text-transform: lowercase;
}
.text-transform-capitalize {
	text-transform: capitalize;
}
.vertical-align-middle {
	vertical-align: middle;
}
/*
.font-family-times {
	font-family: times;
}
*/
.text-decoration-underline {
	text-decoration: underline;
}
.text-decoration-none {
	text-decoration: none;
}
.site-menu-custom a {
	text-decoration: none;
}
.site-menu-custom a:hover {
	color: #e12219;
}
site-header-image-custom {
}
@media (max-width:600px){
	.recapituler2TableTr td {
		display:block;width:100%!important;
	}
}
.w3-tooltip+.w3-text{display:none}.w3-tooltip:hover+.w3-text{display:inline-block}
.w3-vivid-pink
{color:#fff;background-color:#ffb5bA}
.w3-vivid-red
{color:#fff;background-color:#be0032}
.w3-vivid-orange
{color:#fff;background-color:#f38400}
.w3-vivid-yellow
{color:#fff;background-color:#f3c300}
.w3-vivid-green
{color:#fff;background-color:#008856}
.w3-vivid-blue
{color:#fff;background-color:#00a1c2}
.w3-vivid-black
{color:#fff;background-color:#000}
.w3-vivid-white
{color:#000;background-color:#fff}
.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-yellowish-pink
{color:#fff;background-color:#ffb7a5}
.w3-vivid-reddish-orange
{color:#fff;background-color:#e25822}
.w3-vivid-orange-yellow
{color:#fff;background-color:#f6a600}
.w3-vivid-greenish-yellow
{color:#fff;background-color:#dcd300}
.w3-vivid-yellow-green
{color:#fff;background-color:#8db600}
.w3-vivid-yellowish-green
{color:#fff;background-color:#27a64c}
.w3-vivid-bluish-green
{color:#fff;background-color:#008882}
.w3-vivid-greenish-blue
{color:#fff;background-color:#0085a1}
.w3-vivid-purplish-blue
{color:#fff;background-color:#30267a}
.w3-vivid-reddish-purple
{color:#fff;background-color:#870074}
.w3-vivid-purplish-red
{color:#fff;background-color:#ce4676}

.nvd3 .nv-groups path.nv-line {
	stroke-width: 5px;
}

/* jQuery-Autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
