<div class="w3-quarter ">
	<img src="{{staticBaseUrl}}/svg/state-{{stateAbbreviation}}.svg" class="state-img w3-img "/>
	<p><span class="state-stop-count ">24+ million</span><span> stops</span></p>
	<a class="state-search-link " href="" class="w3-btn ">{{stateName}} {{stateAbbreviation}}</a>
</div>
